## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Caravelas,BR,83.43,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
1,3,Phan Thiet,VN,77.38,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
2,5,Avarua,CK,80.60,broken clouds,-21.2078,-159.7750,Paradise Inn
3,6,Saldanha,ZA,75.20,broken clouds,-33.0117,17.9442,Blue Bay Lodge
4,8,Namibe,AO,79.70,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
...,...,...,...,...,...,...,...,...
255,678,Mossendjo,CG,82.00,overcast clouds,-2.9506,12.7261,HOTEL D'ASSISE
256,679,Benghazi,LY,77.43,clear sky,32.1167,20.0667,Tibesti Hotel
257,682,Butterworth,MY,86.00,few clouds,5.3991,100.3638,Cititel Penang
258,684,Kapit,MY,74.59,light rain,2.0167,112.9333,Hotel Meligai Kapit
259,685,Ilo,PE,73.26,overcast clouds,-17.6394,-71.3375,Torreblanca Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dd><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)
fig = gmaps.figure(zoom_level=2.05, center=(30.0, 10.0))
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Caravelas,BR,83.43,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
1,3,Phan Thiet,VN,77.38,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
2,5,Avarua,CK,80.60,broken clouds,-21.2078,-159.7750,Paradise Inn
3,6,Saldanha,ZA,75.20,broken clouds,-33.0117,17.9442,Blue Bay Lodge
4,8,Namibe,AO,79.70,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
...,...,...,...,...,...,...,...,...
255,678,Mossendjo,CG,82.00,overcast clouds,-2.9506,12.7261,HOTEL D'ASSISE
256,679,Benghazi,LY,77.43,clear sky,32.1167,20.0667,Tibesti Hotel
257,682,Butterworth,MY,86.00,few clouds,5.3991,100.3638,Cititel Penang
258,684,Kapit,MY,74.59,light rain,2.0167,112.9333,Hotel Meligai Kapit
259,685,Ilo,PE,73.26,overcast clouds,-17.6394,-71.3375,Torreblanca Hotel

In [7]:
vacation_df["City"]

0        Caravelas
1       Phan Thiet
2           Avarua
3         Saldanha
4           Namibe
          ...
255      Mossendjo
256       Benghazi
257    Butterworth
258          Kapit
259            Ilo
Name: City, Length: 260, dtype: object

In [12]:
vacation_df["City"] == "Vila"

0      False
1      False
2      False
3      False
4      False
       ...
255    False
256    False
257    False
258    False
259    False
Name: City, Length: 260, dtype: bool

In [11]:
vacation_df.loc[vacation_df["City"] == "Vila"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
61,157,Vila,PT,75.0,clear sky,42.0304,-8.1588,Hotel Castrum Villae by Walk Hotels

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Vila"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Vila"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Barcelos"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Lata"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Colares"]

In [96]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.to_numpy()[0][5:7])
end = tuple(vacation_end.to_numpy()[0][5:7])
stop1 = tuple(vacation_stop1.to_numpy()[0][5:7])
stop2 = tuple(vacation_stop2.to_numpy()[0][5:7])
stop3 = tuple(vacation_stop3.to_numpy()[0][5:7])

In [97]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
test = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(test)
fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,157,Vila,PT,75.00,clear sky,42.0304,-8.1588,Hotel Castrum Villae by Walk Hotels
1,278,Barcelos,PT,77.00,clear sky,41.5388,-8.6151,Hotel Do Terço
2,81,Lata,PT,75.00,clear sky,40.1629,-8.3327,Casa Maquia
3,331,Colares,PT,71.01,clear sky,38.7992,-9.4469,Arribas Sintra Hotel

In [115]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}<dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dd><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [116]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = city_info)
fig = gmaps.figure(zoom_level=6.7, center=(40.7, -8.0))
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))